<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whlg.psychology.mapper.QuestionMapper">

    <insert id="insertQuestion">
        insert into psychology.question (question_content, options)
        values (#{question_content},#{options})
    </insert>

</mapper>